<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/themes/splide-sea-green.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/custom.css') }}">
  <title>{% block title %} CamEventsHup |  {% endblock %}</title>
</head>
<body class="bg-light">
  {%include 'shared/_navbar.html'%}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      
      {% for category, message in messages %}
      <div class=" text-center alert alert-{{ category}} d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        <div class="text-center">
          {{message}}
        </div>
      </div>
      {% endfor %}
      
    {% endif %}
  {% endwith %}



{% block content %}



{% endblock %}


{%include 'shared/_footer.html'%}
{%include 'shared/_canvas.html'%}

  <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
  <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
  <script>
    document.addEventListener( 'DOMContentLoaded', function () {
      new Splide( '.splide',{
        autoplay: true,
        pagination: false,
        type: "loop",
        perPage: 3
      }).mount();
    } );
    </script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });
    
    </script>
</body>
</html>